<ion-header>
	<ion-navbar color="light">
		<ion-title>Evento</ion-title>
		<ion-buttons end>
			<button ion-button icon-only>
        		<ion-icon name="heart-outline"></ion-icon>
    		</button>
	        <button ion-button icon-only>
	            <ion-icon name="share"></ion-icon>
	        </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="has-header">
	<div class="dz-hero">
		<h2>Event Title</h2>
		<button ion-button small round outline>Follow</button>
		<button ion-button large round class="btn-action">CTA</button>
	</div>

	<div class="margintop40">
		<ion-list class="marginbottom20">
  			<ion-item>
				<ion-icon name="calendar" item-start></ion-icon>
				Hoy, 18 a 2 AM
			<ion-icon name="ios-arrow-forward" item-end></ion-icon>
	  		</ion-item>
	  		<ion-item (click)="verVenue()">
				<ion-icon name="pin" item-start></ion-icon>
					Hipódromo de San Isidro <br>
					San Isidro, Buenos Aires, Argentina.
				<ion-icon name="add" item-end></ion-icon>
	  		</ion-item>
	  		<ion-item>
    			<ion-icon name="logo-usd" item-start></ion-icon>
				Desde ARS $300,00
				<ion-icon name="ios-arrow-forward" item-end></ion-icon>
	  		</ion-item>
		</ion-list>
	</div>
	<hr>	

	<div class="dz-section">
		<p padding-left class="dz-section-title">Line Up <ion-badge item-end round>Día 1</ion-badge></p>
		<div class="horizontal-scroll">
			<div class="horizontal-scroll-wrapper">
				<ul>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>					
				</ul>
			</div>

			<p padding-left class="dz-section-title">Line Up <ion-badge item-end round>Día 2</ion-badge></p>
			<div class="horizontal-scroll-wrapper">
				<ul>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>					
				</ul>
			</div>
			<hr>
		</div>
	</div>

	<div class="dz-section info">
		<p class="dz-section-title">Info</p>
		<p class="dz-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quisquam quaerat sapiente ducimus esse odit iusto minima ab totam, corrupti eveniet molestias unde sit consequatur obcaecati, sequi nobis debitis ullam.</p>
		<div class="text-right">
			<button ion-button clear icon-start class="see-more-results">
	      		Ver más <ion-icon name='add'></ion-icon>
	    	</button>
		</div>
	</div>
	<hr>

	<div class="dz-section">
		<p padding-left class="dz-section-title">Comentarios</p>
	</div>	

	<ion-list class="comentarios">
  		<ion-item>
    		<ion-avatar item-start>
      			<img src="img/avatar-finn.png">
			</ion-avatar>
			<h2>Finn</h2>
    		<p>6h <span class="like">1like</span><a href="#" class="reply">Reply</a></p>
  		</ion-item>
  		<ion-item>
    		<ion-avatar item-start>
      			<img src="img/avatar-finn.png">
			</ion-avatar>
			<h2>Finn</h2>
    		<p>6h <span class="like">1like</span><a href="#" class="reply">Reply</a></p>
  		</ion-item>
  		<ion-item>
    		<ion-avatar item-start>
      			<img src="img/avatar-finn.png">
			</ion-avatar>
			<h2>Finn</h2>
    		<p>6h <span class="like">1like</span><a href="#" class="reply">Reply</a></p>
  		</ion-item>
  		<ion-item>
    		<ion-avatar item-start>
      			<img src="img/avatar-finn.png">
			</ion-avatar>
			<h2>Finn</h2>
    		<p>6h <span class="like">1like</span><a href="#" class="reply">Reply</a></p>
  		</ion-item>
  		<div class="text-right" padding-right>
			<button ion-button clear icon-start class="see-more-results">
	      		Ver todos los 54 comentarios <ion-icon name='add'></ion-icon>
	    	</button>
		</div>
	</ion-list>
</ion-content>