<ion-content>

<div class="dz-hero">
	<h2>Artista Destacado</h2>
	<p>Description Banner Line</p>
	<button ion-button round small>Ver más</button>
</div>

<div class="dz-section">
	<p padding-left class="dz-section-title">Tendencias</p>
	<div class="horizontal-scroll">
		<div class="horizontal-scroll-wrapper">
			<ul>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>					
			</ul>
		</div>
		<hr>
	</div>
</div>

<div class="dz-section">
	<p padding-left class="dz-section-title">Descubre nuevos sonidos</p>
	<div class="horizontal-scroll">
		<div class="horizontal-scroll-wrapper">
			<ul>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>					
			</ul>
		</div>
		<hr>
	</div>
</div>

<div class="dz-section">
	<p padding-left class="dz-section-title">Porque te gusta Richie Hawtin</p>
	<div class="horizontal-scroll">
		<div class="horizontal-scroll-wrapper">
			<ul>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>
				<li class="extra-mr">
					<a href="#" class="square rounded"></a>
					<p class="artist-name">Artist Name</p>
					<p class="artist-name margintop5">Surname</p>
				</li>					
			</ul>
		</div>
		<hr>
	</div>
</div>


</ion-content>