@using DanzFloor.Web.Models

@model DanzFloor.Web.Models.ViewModels.CategoriaViewModel
@{
    ViewBag.Title = "Categoría";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


<div class="container">

    <div class="row hidden-xs">
        <div class="col-xs-12">
            <div class="text-center margintop60">
                <h3>@Model.NombreCategoria</h3>
            </div>
        </div>
    </div>
    <div class="row visible-xs">
        <div class="col-xs-12">
            <div class="text-center margintop30">
                <h3>@Model.NombreCategoria</h3>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.ResultadoArticulos)
        {
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="product-item relative">
                    <a href="/Frontend/DetalleArticulo/@item.Id" class="img-box">
                        <img src="@Archivo.ObtenerUrlArchivo(item.Producto.Archivos, TipoEntidadConst.PRODUCTO, "Imagen Principal")" class="img-responsive img-producto-categoria" alt="Foto de Categoría">
                    </a>
                    <div class="footer-product">
                        <a href="/Frontend/DetalleArticulo/@item.Id" class="h5 title-product show">@item.Producto.Nombre</a>
                        <a href="/Frontend/DetalleArticulo/@item.Id" class="btn btn-primary btn-sm btn-outlined">Ver Producto</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<hr class="divider-line footer-line">