@using DanzFloor.Web.Models.ViewModels.Frontend

@model RepetirPedidoViewModel
@{
    ViewBag.Title = "Repetir pedido";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center margintop30">
                <div class="hidden-xs margintop60"></div>
                <h3>Historial de pedidos</h3>
            </div>

            @if (!Request.Browser.IsMobileDevice)
            {                
                    <div class="table-responsive margintop40 hidden-xs">                   
                        <table class="table table-pedidos">
                            <thead>
                                <tr>
                                    <th>FECHA DE PEDIDO</th>
                                    <th>ESTADO</th>
                                    <th>PUNTO DE VENTA</th>
                                    <th>DETALLES</th>
                                    <th>TOTAL</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbody">                                
                                @foreach (var item in Model.Pedidos)
                                {
                                    Html.RenderPartial("~/Views/Frontend/Partial/_ItemRepetirPedido.cshtml", item);
                                }
                              
                            </tbody>
                        </table>
                    </div>
                    <div boton-ver-mas class="row margintop60">
                        <div class="col-xs-12">
                            <div class="text-center">
                                <a id="verMas" class="btn btn-primary btn-lg">Ver Más</a>
                                <i id="spinner" class="fa fa-spinner fa-spin hidden" style="font-size:35px; color:#c1a17d"></i>
                            </div>
                        </div>
                    </div>
            }

            @if (Request.Browser.IsMobileDevice)
            {
                <div class="visible-xs table-pedidos-xs pedidos margintop30">
                    <div id="jscroll-container" class="jscroll">
                        @foreach (var item in Model.Pedidos)
                        {
                            Html.RenderPartial("~/Views/Frontend/Partial/_ItemRepetirPedidoMobile.cshtml", item);

                        }
                        <a class="next-selector" href="@Url.Action("RepetirPedidoPaginado", "Frontend", new { pagina = 2 })"></a>
                    </div>

            </div>
            }


        </div>
    </div>
</div>


<hr class="divider-line footer-line hidden-xs">


@Html.Partial("~/Views/Shared/_ModalRepetirPedido.cshtml")
<script src="~/assets/jscroll-master/jquery.jscroll.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        var pagina = 2;


        $('.jscroll').jscroll({
            nextSelector: 'a:last',
            loadingHtml: '<i class="fa fa-spinner fa-spin hidden" style="font-size:35px; color:#c1a17d"></i>',
            callback: function(){
            }
        });

        $("#verMas").on("click", function () {
            $("#spinner").removeClass("hidden");
            $("#verMas").addClass("hidden");
            $.ajax({
                url: "/Frontend/RepetirPedidoPaginado?pagina=" + pagina,
            }).done(function (a) {
                pagina = pagina + 1;
                $("#spinner").addClass("hidden");
                $("#verMas").removeClass("hidden");
                $("#tbody").append(a);
            });
        });

    });
</script>