<ion-content>

	<div class="dz-hero">
		<h2>Home Main Banner</h2>
		<p>Description Banner Line</p>
		<button ion-button round small>Ver más</button>
	</div>

	<div class="dz-section">
		<p padding-left class="dz-section-title">Hoy, para vos</p>
		<div class="horizontal-scroll">
			<div class="horizontal-scroll-wrapper">
				<ul>
					<li (click)="verEvento()">
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>					
				</ul>
			</div>
			<hr>
		</div>
	</div>

	<div class="dz-section">
		<p padding-left class="dz-section-title">Tendencias</p>
		<div class="horizontal-scroll">
			<div class="horizontal-scroll-wrapper">
				<ul>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>					
				</ul>
			</div>
			<hr>
		</div>
	</div>

	<div class="dz-section">
		<p padding-left class="dz-section-title">Porque fuiste a ver a Richie Hawtin</p>
		<div class="horizontal-scroll">
			<div class="horizontal-scroll-wrapper">
				<ul>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>					
				</ul>
			</div>
			<hr>
		</div>
	</div>

	<div class="dz-section">
		<p padding-left class="dz-section-title">Artistas sugeridos</p>
		<div class="horizontal-scroll">
			<div class="horizontal-scroll-wrapper">
				<ul>
					<li class="extra-mr" (click)="verPerfil()">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>
					<li class="extra-mr">
						<a href="#" class="square rounded"></a>
						<p class="artist-name">Artist Name</p>
						<p class="artist-name margintop5">Surname</p>
					</li>					
				</ul>
			</div>
			<hr>
		</div>
	</div>

	<div class="dz-section">
		<p padding-left class="dz-section-title">¿Te acordás de...? (Event setlist)</p>
		<div class="horizontal-scroll">
			<div class="horizontal-scroll-wrapper">
				<ul>
					<li>
						<a href="#" class="square">
							<ion-icon name="play"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="play"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="play"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="play"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="play"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="play"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="play"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="play"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="play"></ion-icon>
						</a>
					</li>					
				</ul>
			</div>
			<hr>
		</div>
	</div>


</ion-content>