<ion-header>
	<ion-navbar color="light">
		<ion-title>Venue</ion-title>
		<ion-buttons end>
			<button ion-button icon-only>
        		<ion-icon name="heart-outline"></ion-icon>
    		</button>

	        <button ion-button icon-only>
	            <ion-icon name="share"></ion-icon>
	        </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content class="has-header">
	<div class="dz-hero">
	 	<ion-icon name="pin"></ion-icon>
		<h2>Venue</h2>
		<button ion-button icon-only large class="btn-icon">
		  <ion-icon name="locate"></ion-icon>
		</button>
	</div>

	<div class="dz-venue-info">
		<ion-list>
  			<ion-item>
    			<ion-icon name="pin" item-start></ion-icon>
    			Hipódromo de San Isidro <br>
    			<span>San Isidro, Buenos Aires, Argentina</span>
  			</ion-item>
  			<ion-item>
    			<ion-icon name="car" item-start></ion-icon> No tiene estacionamiento
  			</ion-item>
		</ion-list>
	</div>

	<div class="dz-section">
		<p padding-left class="dz-section-title">Promo</p>
		<div class="horizontal-scroll">
			<div class="horizontal-scroll-wrapper">
				<ul>
					<li>
						<a href="#" class="square relative">
							<ion-icon name="play" class="center-center"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>					
				</ul>
			</div>
			<hr>
		</div>
	</div>

	<div class="dz-section">
		<p padding-left class="dz-section-title">Próximos eventos</p>
		<div class="horizontal-scroll">
			<div class="horizontal-scroll-wrapper">
				<ul>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>
					<li>
						<a href="#" class="square">
							<ion-icon name="calendar"></ion-icon>
						</a>
					</li>					
				</ul>
			</div>
			<hr>
		</div>
	</div>

	<div class="dz-section info">
		<p class="dz-section-title">Info</p>
		<p class="dz-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quisquam quaerat sapiente ducimus esse odit iusto minima ab totam, corrupti eveniet molestias unde sit consequatur obcaecati, sequi nobis debitis ullam.</p>
		<div class="text-right">
			<button ion-button clear icon-start class="see-more-results">
	      		Ver más <ion-icon name='add'></ion-icon>
	    	</button>
		</div>
	</div>
	<hr>

	<div class="dz-section">
		<p padding-left class="dz-section-title">Comentarios</p>
	</div>	

	<ion-list class="comentarios">
  		<ion-item>
    		<ion-avatar item-start>
      			<img src="img/avatar-finn.png">
			</ion-avatar>
			<h2>Finn</h2>
    		<p>6h <span class="like">1like</span><a href="#" class="reply">Reply</a></p>
  		</ion-item>
  		<ion-item>
    		<ion-avatar item-start>
      			<img src="img/avatar-finn.png">
			</ion-avatar>
			<h2>Finn</h2>
    		<p>6h <span class="like">1like</span><a href="#" class="reply">Reply</a></p>
  		</ion-item>
  		<ion-item>
    		<ion-avatar item-start>
      			<img src="img/avatar-finn.png">
			</ion-avatar>
			<h2>Finn</h2>
    		<p>6h <span class="like">1like</span><a href="#" class="reply">Reply</a></p>
  		</ion-item>
  		<ion-item>
    		<ion-avatar item-start>
      			<img src="img/avatar-finn.png">
			</ion-avatar>
			<h2>Finn</h2>
    		<p>6h <span class="like">1like</span><a href="#" class="reply">Reply</a></p>
  		</ion-item>
  		<div class="text-right" padding-right>
			<button ion-button clear icon-start class="see-more-results">
	      		Ver todos los 54 comentarios <ion-icon name='add'></ion-icon>
	    	</button>
		</div>
	</ion-list>

</ion-content>