@model DanzFloor.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Olvidaste tu contraseña?";
    Layout = "~/Views/Shared/_LayoutBaseFront.cshtml";
}



@using (Html.BeginForm("EnviarMailRecuperarPassword", "Cuenta", FormMethod.Post, new { @class = "form-material", role = "form" }))
{
    <div class="bg-login relative">
        <div class="center-center width100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="~/assets/Danzfloor/img/headphone-icon.png" class="img-logo-login" alt="Logo Sapore Di Pane">
                                
                                <h3 class="text-center clearmargin marginbottom30">Recuperar clave</h3>
                                @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
                                {
                                    <div class="validation-summary-errors">
                                        <ul>
                                            <li>@ViewBag.Error</li>
                                        </ul>
                                    </div>
                                }
                                @if (ViewBag.Success == true)
                                {
                                    <div class="text-center">
                                        <p class="font20 margintop15 brandon">Se te ha enviado un email con los pasos para recuperar tu acceso.</p>
                                        <a href="/Cuenta/Login" class="btn btn-primary margintop30">Ir al inicio</a>
                                    </div>
                                }
                                else
                                {                                    
                                    using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        <div class="form-group label-floating is-fixed">
                                            <label for="username">Email</label>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Ingrese su email" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-login-actions text-center margintop50">
                                            <input type="submit" class="btn btn-primary" value="Aceptar">
                                        </div>
                                    }
                                    <div class="text-center margintop30">
                                        <a href="/Cuenta/Login" class="general-title">Ir al inicio</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
