<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <div class="visible-xs">
                    </div>
                    <p class="font12">© 2017 Danzfloor. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
